<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
    <title>Pagina Web</title>

</head>

<body>
    <header>
        <section class="textos-header">
            <h1>Registra Tu Mascota</h1>
            <h2>¡No te pierdas nuestras ofertas!</h2>
        </section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <section class="contenedor mision-vision">
            <h2 class="titulo">Nuestra Mision y Vision</h2>
            <div class="contenedor-Mision">
                <img src="./assets/Mision.jfif" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Mision</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic repellendus, amet dolore commodi
                        ipsam eveniet laudantium non consequatur temporibus esse vero qui? Asperiores obcaecati sed
                        fugit optio odio, quas nemo.</p>
                    <h3><span>2</span>Vision</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic repellendus, amet dolore commodi
                        ipsam eveniet laudantium non consequatur temporibus esse vero qui? Asperiores obcaecati sed
                        fugit optio odio, quas nemo.</p>
                </div>
            </div>

        </section>
        <section class="Portafolio">
            <div class="contenedor">
                <h2 class="titulo">Nuestras Mascotas</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="./assets/Nuestras Mascotas/imagen1.jpeg" alt="">
                        <div class="hover-galeria">
                            <img src="./assets/iconos/icono1.png" alt="">
                            <p>Nuestras Mascotas</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="./assets/Nuestras Mascotas/imagen2.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="./assets/iconos/icono1.png" alt="">
                            <p>Nuestras Mascotas</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="./assets/Nuestras Mascotas/imag3.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="./assets/iconos/icono1.png" alt="">
                            <p>Nuestras Mascotas</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="./assets/Nuestras Mascotas/imagen4.jpeg" alt="">
                        <div class="hover-galeria">
                            <img src="./assets/iconos/icono1.png" alt="">
                            <p>Nuestras Mascotas</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="./assets/Nuestras Mascotas/imagen5.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="./assets/iconos/icono1.png" alt="">
                            <p>Nuestras Mascotas</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="./assets/Nuestras Mascotas/imagen6.jfif" alt="">
                        <div class="hover-galeria">
                            <img src="./assets/iconos/icono1.png" alt="">
                            <p>Nuestras Mascotas</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="./assets/Nuestras Mascotas/imagen7.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="./assets/iconos/icono1.png" alt="">
                            <p>Nuestras Mascotas</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="./assets/Nuestras Mascotas/imagen8.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="./assets/iconos/icono1.png" alt="">
                            <p>Nuestras Mascotas</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Nuestros Planes</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="./assets/Nuestros planes/imag1.jpg" alt="">
                        <h3>Plan 1</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, id!</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="./assets/Nuestros planes/imag2.jpg" alt="">
                        <h3>Plan 2</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, id!</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="./assets/Nuestros planes/imag3.png" alt="">
                        <h3>Plan 3</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, id!</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="contenedor">
                <h2 class="titulo">Contactenos</h2>
                
            </div>
        </section>
    </main>
</body>

</html>